{% extends 'base.html.twig' %}
{% block title %}Contactos{% endblock %}
{%block body%}
	<h1>Contactos</h1>
	<h2>Bienvenido a la web de contactos.</h2>
	<p>Página de inicio</p>
	<a href="{{ path('app_register') }}" class="btn btn-lg btn-primary">Registrarse</a>
	<a href="{{ path('app_login') }}" class="btn btn-lg btn-primary">Iniciar sesion</a>
{% endblock %}