body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(123, 179, 39);
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

nav a:hover {
    background-color: white;
    color:black;
}

section {
    padding: 20px;
    text-align: center; /* Centrar el texto dentro de la sección */
}

form {
    width: 60%;
    max-width: 500px;
    margin: 20px auto 0; /* Ajuste en el margen para separar del texto superior */
}

h2, p {
    margin-bottom: 20px; /* Ajuste de margen para separar del formulario inferior */
    text-align: center;
    display: block;
}
.centrar{
    text-align: center;
    
}
#contactSection h2.centrar {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: rgb(123, 179, 39);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
   
    bottom: 0;
    width: 100%;
}
