<!doctype html>
<html>
<meta charset="utf-8">
<body>
    <h1>Ficha del contacto</h1>
    {% if usuario %}
    <ul>
        <li><strong>{{ usuario.nombre}}</strong></li>
        <li><strong>Correo: </strong>{{ usuario.email}}</li>
        <li><strong>Contraseña: </strong>{{ usuario.passwd}}</li>
    </ul>
    {% else %}
        <p>Usuario no encontrdo</p>
    {% endif %}
</body>
</html>